 body{
    background-color: bisque;
    font-family: 'Markazi Text', serif;
    margin-top:  3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;
    align-items: center;
    max-width: 62rem;
    margin-right: auto;
    margin-left: auto;
}

 .container {

  display: grid;
  grid-template-columns:repeat(3, 100px);
  grid-template-rows: 2fr 1fr;

  }

  .Navbar{
    padding: 1rem 0 3rem 0;
    
  }

Row{
  align-items: center;
  margin: 1rem;
}

  
  .ms-auto{
    
    align-items: center;
  }

   .ms-auto :hover{
    color: white;
    font-style: italic bold;
    background-color: gray;
   }

.specialsHeading{
  padding: 1.5rem;
}

.specials{
  display: flex;
  
}

article{
  width: 250px;
  margin: .5rem;
  background-color: #a1c1b6;
  
 
}
.footer{
  display: flex;
 
}
.footerDiv  ul{
  
  display: flex;
  flex-direction: column;
}


article img{
  width: 250px;
  height: 230px;
  object-fit: cover;
}

article p{
  height: 8rem;
  width: 250px;
  padding-left: 7px;
  padding-right: 7px;
}

article button{
  margin-left: 4rem;
  margin-bottom: 1rem;
}

.RestaurantChef{
  width: 270px;
  height: 230px;
  border-radius: 7px;
}


.col-3-sm{
  max-width:190px ;
  height: 230px;
  border-radius: 7px;
  margin-left: 4px;
}

.col-3-sm-2{
  width: 190px;
  height: 230px;
  border-radius: 7px;
  margin-left: 4px;
 
}



.footerNav {
  display: grid;
  padding: -1rem;
}

.p-5{
  padding: -1rem;
}

section.socials{
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  align-items: center;
}
.iconSocial{
  display: flex;
  align-items: baseline;
  
  
  
}



.reserveButton:hover{
  background-color: yellow;
  color: black;
  border: 15px;
}

button{
  border-radius: 8px;
  background-color: yellow;
}

.section-body{
  display: block;
  justify-content: center;
  min-height: 25rem;
  background-color: aliceblue;
  padding: 1.5rem;

}
Form{
  display: grid;
  justify-content: center;
  background-color: rgb(197, 202, 117);
  margin: auto;
  margin-bottom: 25px;
  padding: 20px;
  border-radius: 10px;
}

.footer-row{
  background-color: #5d9280;
  margin:auto
}
