 body{
    background-color: bisque;
    font-family: 'Markazi Text', serif;
    margin-top:  3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;
}

 .container {

  display: grid;
  grid-template-columns:repeat(3, 100px);
  grid-template-rows: 2fr 1fr;

  }

  ul{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    flex-direction: row;
  }
  ul li{
    display: flex;
    justify-content: space-evenly;
  }
   ul li a{
    text-decoration: none;
    padding: 1rem;
    color: black;
    
   }
   ul li a:hover{
    color: gray;
   }
.specialsHeading{
  display: flex;
  justify-content: space-between;
  margin-left: 3rem;
  margin-right: 3rem;
}
.orderOnline{
  height:fit-content;
  margin-top: 2rem;

}

section{
  display: flex;
  padding: 3rem;
}

article{
  width: 400px;
  margin: .5rem;
 
}
.footer{
  display: flex;
}
.footerDiv  ul{
  
  display: flex;
  flex-direction: column;
}


article img{
  width: 270px;
  height: 230px;
  object-fit: cover;
}

.RestaurantChef{
  width: 270px;
  height: 230px;
  border-radius: 7px;
}

/* .ChefsA{
  width: 270px;
  height: 230px;
  border-radius: 7px;
} */
.col-3-sm{
  max-width:190px ;
  height: 230px;
  border-radius: 7px;
  margin-left: 4px;
}
/* .FoodPlatter{
  width: 270px;
  height: 230px;
  border-radius: 7px;
  margin-left: -20px;
  margin-bottom: 30px;
} */
.col-3-sm-2{
  width: 190px;
  height: 230px;
  border-radius: 7px;
  margin-left: 4px;
 
}

.footerInfo ul{
  display: flex;
  flex-direction: column;
  margin: 15px;
  
}

footer {
  display: flex;
  justify-content: space-around;

}

.column li{
  padding-left: px;
}